{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "env": {
    "development": {
      "plugins": [

        "react-hot-loader/babel",
        "syntax-async-functions",
        [
          "import",
          {
            "libraryName": "antd",
            "style":true
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "syntax-async-functions",
        [
          "import",
          {
            "libraryName": "antd",
            "style":true
          }
        ]
      ]
    }
  }
}
