<!doctype html>
<html>
<head>
  <title>X6</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="renderer" content="webkit|ie-stand|ie-comp">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>
<body>
<div id='root'>
</div>
<script>var URL_PREFIX = '/api'</script>
<script src="/static/newH5/bundle.js?_=<%= htmlWebpackPlugin.options.time %>"></script>
<link rel="stylesheet" href="/static/newH5/style.css?_=<%= htmlWebpackPlugin.options.time %>">
<script>
  <%= htmlWebpackPlugin.options.catchError %>
</script>
</body>
</html>
